﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "CreateUsuario";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })

    function MostrarLista() {
        $("#res").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("ListaUsuarios")/');
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2>Resgistro Usuario</h2>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <a href="javascript:" onclick="MostrarLista()" data-toggle="tooltip" title="Listar Usuario">
                    <i class="fa fa-user fa-lg"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <div class="col-md-2">@Html.Label("Grupo al que pertenece", new { @class = "control-label" })</div>
                <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAsesores_Usuario.TipoAsesorUsuario.TipoAsesor, Model.Sto_TipoAsesores.listaComboBoxTipoAsesores, "Seleccionar uno", new { @class = "form-control" })</div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">@Html.Label("Documento", new { @class = "control-label" })</div>
                <div class="col-md-10">@Html.TextBoxFor(x => x.Seg_Usuario.Usuario.Usuario, new { @class = "form-control" })</div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">@Html.Label("Nombre Usuario", new { @class = "control-label" })</div>
                <div class="col-md-10">@Html.TextBoxFor(x => x.Seg_Usuario.Usuario.Nombre, new { @class = "form-control" })</div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">@Html.Label("Activo", new { @class = "control-label" })</div>
                <div class="col-md-10">@Html.CheckBoxFor(x => x.Seg_Usuario.Usuario.Activo, new { @type = "checkbox" })</div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </div>
    </div>

}
