﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "CreateTipoAsesor";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Registro Nuevo Grupo</h2>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-2">@Html.Label("Nombre Grupo", new { @class = "control-label" })</div>
            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAsesores.TipoAsesores.Nombre, new { @class = "form-control", })</div>
        </div>
        <div class="row form-group">
            <div class="col-md-2">@Html.Label("Email Grupo", new { @class = "control-label" })</div>
            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAsesores.TipoAsesores.Email, new { @class = "form-control", @type= "email" })</div>
        </div>
    </div>
    <div class="box-footer">
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </div>
</div>
}
