﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "Asesores"; 

    var Usuario = Model.Seg_Usuario.ListaUsuario;
    var TipoAsesor = Model.Sto_TipoAsesores.listaTipoAsesores;
    var AsesorUsuario = Model.Sto_TipoAsesores_Usuario.listaTipoAsesorUsuario;

    var Err = Convert.ToInt32(TempData["Err"]);
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabla-asesores-reg').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
    })


    function MostrarModalRegistroUsuario() {
        $("#Usuario").modal("show");
        $("#res").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("ListaUsuarios")/');
    }

    function MostrarModalRegistroGrupo() {
        $("#Usuario").modal("show");
        $("#res").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("ListaGrupos")/');
    }

</script>

@{
    if (Err == 2)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Registro Completado
        </div>
    }
    else if (Err == 1)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Accion no realizada
        </div>
    }
    else if (Err == 3)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Actualizacion 
        </div>
    }
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Listado de los asesores</h2>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <a href="javascript:" onclick="MostrarModalRegistroUsuario()" data-toggle="tooltip" title="Lista de usuario">
                <i class="fa fa-user fa-lg"></i>
            </a>
            -
            <a href="javascript:" onclick="MostrarModalRegistroGrupo()" data-toggle="tooltip" title="Lista de los grupos">
                <i class="fa fa-group fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-striped table-bordered" id="tabla-asesores-reg">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th>Grupo Pertenece</th>
                    <th>Email</th>
                    <th>Acción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Usuario)
                {

                    Sto_TipoAsesor_Usuario STAU = new Sto_TipoAsesor_Usuario();
                    Sto_TiposAsesores STA = new Sto_TiposAsesores();
                    STAU = AsesorUsuario.FirstOrDefault(x => x.Usuario.Equals(m.Usuario));
                    if(STAU != null)
                    {
                        STA = TipoAsesor.FirstOrDefault(x => x.Sto_TipoAsesor.Equals(STAU.TipoAsesor));
                    }
                    <tr>
                        <th>@m.Usuario</th>
                        <th>@m.Nombre</th>
                        <th>@(m.Activo == true ? "Activo":"No Activo")</th>
                        <th>
                            @if(STA.Nombre != null)
                            {
                                <span> @STA.Nombre</span>
                            }else
                            {
                                <span style="color: red">Sin Grupo</span>
                            }
                        </th>
                        <th>
                            @if (STA.Email != null)
                            {
                                <span> @STA.Email</span>
                            }
                            else
                            {
                                <span style="color: red">Sin Grupo</span>
                            }
                        </th>
                        <th>
                            <a href="javascript:" style="color: orange !important" data-toggle="tooltip" title="Configurar">
                                <i class="fa fa-cog fa-lg"></i>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:" style="color: red !important" data-toggle="tooltip" title="Eliminar">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="Usuario" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registro Usuario</h4>
            </div>
            <div class="modal-body">
                <div id="res"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>