﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "ListaUsuarios";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabla-usu').DataTable();
    })
    function Registro() {
        $("#res").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("CreateUsuario")/');
    }
</script>
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Listado de usuarios</h2>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <a href="javascript:" onclick="Registro()" data-toggle="tooltip" title="Registrar Usuario">
                <i class="fa fa-user-plus fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-striped" id="tabla-usu">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Seg_Usuario.ListaUsuario)
                {
                    <tr>
                        <th>@m.Usuario</th>
                        <th>@m.Nombre</th>
                        <th>@(m.Activo == true ? "Activo":"No Activo")</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>