﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "ListaGrupos";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Lista de grupos registrados</h2>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-striped" id="tabla-grupos">
            <thead>
                <tr>
                    <th>Codigo Grupo</th>
                    <th>Grupo</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model.Sto_TipoAsesores.listaTipoAsesores)
                {
                    <tr>
                        <th>@m.Sto_TipoAsesor</th>
                        <th>@m.Nombre</th>
                        <th>@m.Email</th>
                        <th>
                            <a onclick="" style="color: black !important;" title="Registrar pregunta" data-toggle="tooltip">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                            -
                            <a onclick="" style="color: black !important;" title="ver respuestas" data-toggle="tooltip">
                                <i class="fa fa-cog fa-lg"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>