﻿@model SeguimientoEstudiantil.Models.ModeloMaestro

@{
    ViewBag.Title = "Registro de acciones";
}

<div class="jumbotron">
    <h1>Registro de las acciones</h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Registrar Nueva Accion</h2>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-2">@Html.Label("Accion",new { @class = "control-label" })</div>
                <div class="col-md-10">@Html.TextBoxFor(x=>x.Sto_TipoAcciones.tipoAcciones.Accion1, new { @class = "form-control", })</div>
            </div>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-default" })
            -
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </div>

}
