﻿@model SeguimientoEstudiantil.Models.ModeloTipoAcciones
@{
    ViewBag.Title = "Tipos de acciones";
}

@*@Html.ActionLink("Registrar una nueva accion", "Create")*@
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Listado</h2>
    </div>
    <div class="box-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Acciones</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Accion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.lista)
                        {
                            <tr>
                                <th>@m.ID_Sto_TipoAcciones1</th>
                                <th>@m.Accion1</th>
                                <th>
                                    <a href="@Url.Action("Update", "TipoAcciones", new { @Id = m.ID_Sto_TipoAcciones1 })" class="btn btn-warning">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "Home")
    </div>
</div>