﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Actualizar Tipo Accion";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAcciones.tipoAcciones.ID_Sto_TipoAcciones1)
    <div class="box">
        <div class="box-header with-border">
            <h2 class="box-title">Editar</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Editar los tipos de acciones</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("ID", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAcciones.tipoAcciones.ID_Sto_TipoAcciones1, new { @class = "form-control", @id = "disabledInput" })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Accion", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAcciones.tipoAcciones.Accion1, new { @class = "form-control" })</div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            -
            <input type="submit" value="Actualizar" class="btn btn-primary" />
        </div>
    </div>
}
