﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Buscar";
    var lista = ViewBag.Envio;
    var id = ViewBag.id;

}

<script>
    $(document).ready(function () {
        $('#tablesorter').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });

        $('#btn-modal').click(function(){
            var i = $('#tablesorter').cells[0];
            alert(i);
        });
    });

</script>
<div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Listado de las respuestas</h2>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-hover tablesorter" id="tablesorter">
            <thead>
                <tr>
                    <th>CodigoInterno</th>
                    <th>Detalles</th>
                    <th>Respuesta</th>
                    <th>Configuracion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in lista)
            {
                    <tr>
                        <th>@m.CodigoInterno1</th>
                        <th>@m.Respuesta</th>
                        <th>@m.Detalles</th>
                        <th>
                            <button id="btn-modal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Respuesta">
                                Configurar
                            </button>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="box-footer">
    </div>
</div>

<div class="modal fade" id="Respuesta" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>@id</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
