﻿
@{
    ViewBag.Title = "CreateP";
    var er = ViewBag.Error;
}
<script>

    window.onload = function () {
        $('#modal-danger').modal('show');
    }

</script>


@{
    if (er == 0)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Ya se encuentra registrada esa preunta en la base de datos
        </div>
    }
}