﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "Delete";
    var t = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    var e = ViewBag.Error;
    Sto_Formato_Caracterizacion_Preguntas detallePregunta = new Sto_Formato_Caracterizacion_Preguntas();
}

<h2>Delete</h2>

@{
    if (e == 0)
    {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong> No se pudo eliminar la pregunta... :( :( :(
        </div>
    }
    else
    if (e == 2)
    {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong> No se pudo eliminar la pregunta... :( :( :(
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.Id_TipoAlerta_Preguntas1)
    detallePregunta = t.FirstOrDefault(x => x.CodigoInterno1.Equals(Model.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1));
    <div class="box box-danger">
        <div class="box-header with-border">
            <h2 class="box-title">Eliminar</h2>
        </div>
        <div class="box-body">
            <div class="row form-group">
                <div class="col-md-2">
                    @Html.Label("ID", new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.Id_TipoAlerta_Preguntas1, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    @Html.Label("Codigo pregunta",new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x=>x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1, new { @class = "form-control" , disabled = "disabled" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    @Html.Label("Pregunta", new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1,detallePregunta != null ? detallePregunta.DetallePregunta1 : string.Empty, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    @Html.Label("Tipo Alerta", new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.TipoAlerta1, Model.Sto_TipoAlertas.NombreTipoAlerta(Model.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.TipoAlerta1), new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    @Html.Label("Descripcion", new { @class = "control-label" })
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.DescripcionPRegunta1, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Eliminar" class="btn btn-danger"/>
            -
            @Html.ActionLink("Regresar", "Details", "TipoAlertaPreguntas",null,new { @class = "btn btn-default" })
        </div>
    </div>
}