﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "Details";
    var t = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    var i = t.Count;
    var er = Convert.ToInt32(TempData["Error"]);
    var e = Convert.ToInt32(TempData["Erro"]);
}

<script>
    window.onload = function () {
        $('#tablesorter').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });        
    }


    function editP(id) {
        $('#myModal').modal("show");
        $("#edit").html("<p><i class='fa fa-spinner fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("EditP")/' + id);        
    }

</script>
@{
    if (er == 1)
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Exitoo!!!</strong> Pregunta eliminada correctamente
        </div>
    }
    if (e == 1)
    {
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Exitoo!!!</strong> Configuracion realizada.
        </div>
    }
}
<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> Puede consultar las diferentes preguntas y modificar sus valores o eliminarla
</div>

<div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Detalles de la pregunta</h2>
    </div>
    <div class="box-body">

        <table class="table table-bordered table-responsive" id="tablesorter" data-page-length='5'>
            <thead>
                <tr>
                    <th>Id Pregunta</th>
                    <th>Codigo Pregunta</th>
                    <th>Pregunta</th>
                    <th>Tipo Alerta</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Sto_TipoAlertas_Preguntas.listarTipoAlerta_Pregunta)
                {
                    Sto_Formato_Caracterizacion_Preguntas detallePregunta = new Sto_Formato_Caracterizacion_Preguntas();
                    detallePregunta = t.FirstOrDefault(x => x.CodigoInterno1.Equals(m.CodigoPRegunta1));
                    <tr>
                        <th>@m.Id_TipoAlerta_Preguntas1</th>
                        <th>@m.CodigoPRegunta1</th>
                        <th>@(detallePregunta != null ? detallePregunta.DetallePregunta1 : string.Empty)</th>
                        <th>@m.TipoAlerta1</th>
                        <th>@m.DescripcionPRegunta1</th>
                        <th>
                            <a href="javascript:" onclick="editP(@m.Id_TipoAlerta_Preguntas1);" class="btn btn-warning">
                                <i class="fa fa-cog fa-lg fa-spin"></i>
                            </a>
                            -
                            <a href="@Url.Action("Delete", "TipoAlertaPreguntas",new { @Id = m.Id_TipoAlerta_Preguntas1 })" class="btn btn-danger">
                                <i class="fa fa-trash fa-lg fa-spin"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="box-footer">
    </div>
</div>

<div id="vista-parcial"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar</h4>
            </div>
            <div class="modal-body">
                <div id="edit"></div>
            </div>
        </div>
    </div>
</div>