﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "Configurar Pregunta";
    var er = ViewBag.Erro;
    var t = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    var es = "";
}


@{
    if (er <= 0)
    {
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            No se pudo realizar la configuracion, intetelo más tarde.
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.Id_TipoAlerta_Preguntas1)
    Sto_Formato_Caracterizacion_Preguntas detallePregunta = new Sto_Formato_Caracterizacion_Preguntas();
    detallePregunta = t.FirstOrDefault(x => x.CodigoInterno1.Equals(Model.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1));
    <div class="box box-primary">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
            <div class="box-body">
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Pregunta ", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.TextBoxFor(x=>x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1, new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Tipo de alerta a la que pertenece: ", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.TipoAlerta1, Model.Sto_TipoAlertas.ListarTiposAlertasComboBox, "Seleccionar una", new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Descripcion: ", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.TextAreaFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.DescripcionPRegunta1, new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Valor por defecto: ", new { @class = "control-label" })</div>
                    <div class="col-md-10"> <input type="text" id="valor_por_defecto" class="form-control" name="valor_por_defecto" /> </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
}