﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Registro de preguntas";
}

<script type="text/javascript">
    //Inicia el efecto de transicion
    window.onload = function () {
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });
        $("#sele").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("PreguntasApis")');
    }
    //Busca las respuesta en base a la pregunta seleccionada
    function buscar() {
        var valorEscogido = $("#Sto_TipoAlertas_Preguntas_TipoAlerta_Pregunta_CodigoPRegunta1").val();
        @* $.post('@Url.Action("Buscar")/?contexto=' + valorEscogido, function (dato) {
            $("#tablaBuscar").html("Cargando...").load('@Url.Action("Buscar")/?contexto=' + dato+"&nomParametro="+sxsf);
        });*@
        if (valorEscogido <= 0) {
            alert('Seleccione una pregunta para buscar sus respectivas respuestas');
            return;
        }
        $("#tablaBuscar").html("<p><i class='fa fa-spinner fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("ListRespuesta")/?codPreg=' + valorEscogido);
    }

    //Llena una tabla con las respuestas consultadas
    function table() {
        var valorEscogido = $("#Sto_TipoAlertas_Preguntas_TipoAlerta_Pregunta_CodigoPRegunta1").val();
        var url = '@Url.Action("Buscar")/?contexto=' + valorEscogido;

        $.post(url).done(function (data) {
            $("#table-users").html('');
            $.each(data, function (index, value) {
                $("#table-users").append("<tr><td>" + value.CodigoInterno1 + "</td><td>" + value.Respuesta + "</td><td>" + value.Detalles + "</td></tr>");
            });
        });

    }
    //Registra la pregunta en el sistema
    function registrar() {
        var valorEscogido = $("#Sto_TipoAlertas_Preguntas_TipoAlerta_Pregunta_CodigoPRegunta1").val();
        var tipo = $("#Sto_TipoAlertas_TiposAlertas_TipoAlerta1").val();
        var des = $("#Sto_TipoAlertas_Preguntas_TipoAlerta_Pregunta_DescripcionPRegunta1").val();
        var valorDe = $("#valor_por_defecto").val();
        console.log("Tipo" + tipo);
        console.log("des" + des);
        console.log("Valor" + valorDe);
        if (valorEscogido <= 0) {
            alert("Seleccione la pregunta a registrar");
            return;
        }
        if (tipo <= 0) {
            alert("Seleccione el tipo de alerta al que pertenece");
            return;
        }
        if (valorDe === "") {
            alert('Las respuestas seran registradas con un valor por defecto de 0' + valorDe);
            valorDe = 0;
        }
        $("#tablaBuscar").html("<p><i class='fa fa-spinner fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("CreateP")/?cod=' + valorEscogido + "&tipo=" + tipo + "&des=" + des + "&val=" + valorDe);
        @*$.ajax({
            url: "@Url.Action("CreateP")",
            data: "cod=" + valorEscogido,
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                $("#contenido").html('');
                if (data != null) {
                    $.each(data, function (index, value) {
                        $("#contenido").append("<tr><th>" + value.CodigoInterno1 + "</th><th>" + value.Respuesta + "</th><th>" + value.Detalles + "</th></tr>");
                    });
                }
            }
        });*@
    }

    //Llena una tabla con las respuestas consultada con AJAX
    function b() {
        var valorEscogido = $("#Sto_TipoAlertas_Preguntas_TipoAlerta_Pregunta_CodigoPRegunta1").val();
        $.ajax({
            url: "@Url.Action("Buscar2")",
            data: "contexto=" + valorEscogido,
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                $("#contenido").html('');
                if (data != null) {
                    $.each(data, function (index, value) {
                        $("#contenido").append("<tr><th>" + value.CodigoInterno1 + "</th><th>" + value.Respuesta + "</th><th>" + value.Detalles + "</th></tr>");
                    });
                    hola();
                }
            }
        });
    }
    function mostrar() {
        $('#buscar-nuevo').show(3000, function () {
            alert('Puede consultar las diferentes respuestas y/o cambiar su valor, por defecto es 0');
        });
    }


    function llenarTablaPreguntas1() {
        $.ajax({
            url: "@Url.Action("PreguntasApis")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                $("#my-select").html('');
                if (data != null) {
                    var i = 0;
                    $.each(data, function (value) {
                        $("#my-select").append(
                            "<option value=" + elem_ + i + ">" + value.DetallePregunta1 + "</option>"
                            @*"<tr><th>" + value.CodigoInterno1 + "</th><th>" + value.Respuesta + "</th><th>" + value.Detalles + "</th></tr>"*@
                            );
                        i++;
                    });
                    hola();
                }
            }
        });
    }


</script>


<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h4><strong>INFORMACIÓN PARA TENER EN CUENTA!</strong></h4>
    <p>Puede consultar las diferentes preguntas y sus respuestas y/o cambiar su valor, por defecto es 0</p>
    <p>Para registrar una preguntra, primero tiene que seleccionar un tipo de alerta</p>
    <p>Puede registrar pregunta por pregunta</p>
</div>

    <div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
        <div class="box-header with-border">
            <h2 class="box-title">Create</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Registro de preguntas al sistema</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Lista de preguntas: ", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.CodigoPRegunta1, Model.Sto_TipoAlertas_Preguntas.ListarComboBoxAPI, "Seleccionar una", new { @class = "form-control" })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Tipo de alerta a la que pertenece: ", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, Model.Sto_TipoAlertas.ListarTiposAlertasComboBox, "Seleccionar una", new { @class = "form-control" })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Descripcion: ", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextAreaFor(x => x.Sto_TipoAlertas_Preguntas.TipoAlerta_Pregunta.DescripcionPRegunta1, new { @class = "form-control" })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Valor por defecto: ", new { @class = "control-label" })</div>
                        <div class="col-md-10"> <input type="text" id="valor_por_defecto" class="form-control" name="valor_por_defecto"/> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button onclick="registrar()" id="btnRegistro" class="btn btn-primary">
                Registrar pregunta
            </button>
            -
            <button onclick="buscar()" id="btnBuscar" class="btn btn-primary">Buscar Respuestas</button>
            -
            @Html.ActionLink("Listado de preguntas", "Details", "TipoAlertaPreguntas", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    <div id="tablaBuscar">

    </div>

<div id="sele"></div>
