﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Respuestas";
    var er = ViewBag.Error;
}
<script>
    $(document).ready(function () {
        $('#tablesorter').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });
    });
</script>


@{
    if (er > 0)
    {
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Para la eliminacion de las respuesta hay que eliminar la pregunta como tal
        </div>
        <div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
            <div class="box-header with-border">
                <h2 class="box-title">Listado</h2>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-responsive" id="tablesorter">
                    <thead>
                        <tr>
                            <th>Id Respuesta</th>
                            <th>Pregunta relacionada</th>
                            <th>Cod Respesta</th>
                            <th>Respuesta</th>
                            <th>Valor Riesgo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.Sto_Respuestas.listaRespuestas)
                {
                            <tr>
                                <th>@m.Id_Pregunta_Valoracion1</th>
                                <th>@m.Id_TipoAlerta_Pregunta1</th>
                                <th>@m.Respuesta1</th>
                                <th>@m.DescripcionRespuesta1</th>
                                <th>@m.ValorRiesgo1</th>
                                <th>
                                    <a href="@Url.Action("Edit", "TiposAlertas", new { @Id = m.Id_Pregunta_Valoracion1 })" class="btn btn-default">
                                        <i class="fa fa-cog fa-lg fa-spin"></i>
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
            </div>
        </div>
    }
    else if (er == 0)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            No se encuentran las respuestas, verifique si la pregunta esta registrada.
        </div>
    }
    else if (er < 0)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error en la consulta a la base de datos, intentar des pues.
        </div>
    }
}
