﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    var cont = Model.Sto_TipoAlertas_Preguntas.listarTipoAlerta_Pregunta.Count();
    ViewBag.Title = "PreguntasApis";
    List<Sto_Formato_Caracterizacion_Preguntas> lis = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
}

<script>
    $(document).ready(function () {
        $('#registro').toggle();
        $('#retirar').toggle();
        var aler = $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').val();
        if (aler <= 0) {
            $('#panel1').toggle();
        } else {
            $('#panel1').show();
        }
        $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').change(function () {
            var valor = $(this).val();
            if (valor > 0) {
                $('#panel1').show();
            } else {
                $('#panel1').toggle();
            }
        });
        $('#my-select').multiSelect({
            selectableHeader: "<div class='custom-header'><label class='control-label'>Preguntas sin registrar</label></div>",
            selectionHeader: "<div class='custom-header'><label class='control-label'>Preguntas registradas</label></div>",
            afterSelect: function (value) {
                var aler = $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').val();
                agregar(value,aler);
            },
            afterDeselect: function (values) {
                alert("Deselect value: " + values);
                retirar(values);
            }
        });
    })


    function agregar(preg,aler) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("CreatePreguntaLista")",
            data: "cod=" + preg+"&aler="+aler,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert('Puede consultar las diferentes respuestas y registrar las que dese');
                }
            }
        });
    }

    function retirar(preg) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeletePreguntaLista")",
            data: "cod=" + preg,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $('#retirar').show();
                }
            }
        });
    }

</script>


@{
    if (cont <= 0)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="fa fa-warning fa-lg"></i>&nbsp;No se encuentran preguntas registradas
        </div>
    }
}
<div id="retirar">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-close fa-lg"></i>&nbsp;Pregunta eliminada correctamente!!!!!!!!
    </div>
</div>
<div id="registro">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-check fa-lg"></i>&nbsp;Pregunta registrada correctamente!!!!!!!!
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Tipo Alertas</h2>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-2">@Html.Label("Tipo de alerta a la que pertenece: ", new { @class = "control-label" })</div>
            <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, Model.Sto_TipoAlertas.ListarTiposAlertasComboBox, "Seleccionar una", new { @class = "form-control" })</div>
        </div>
    </div>
</div>

@*
    <div>
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        Pregunta
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in lis)
                {
                    <tr>
                        <th>
                            @m.DetallePregunta1
                        </th>
                        <th>
                            <button class="btn btn-default">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                            -
                            <button class="btn btn-warning">
                                <i class="fa fa-angle-right fa-lg"></i>
                            </button>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
*@

<div id="panel1">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Registro de preguntas</h2>
                </div>
                <div class="box-body">
                    <select multiple="multiple" id="my-select" name="my-select[]">
                        @foreach (var m in lis)
                        {
                            <option value='@m.CodigoInterno1'>@m.DetallePregunta1</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Registro de respuestas</h2>
                </div>
                <div class="box-body">
                </div>
            </div>
        </div>
    </div>
</div>
