﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using CapaEntidad
@{
    ViewBag.Title = "Gestion Preguntas";
    var t = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    var tpreg = (List<Sto_TipoAlerta_Pregunta>)Session["preg"];
}

<script type="text/javascript">

    $(document).ready(function () {
        //Tablas
        $('#tabla-no-registrada').DataTable();
        $('#tabla-registrada').DataTable();
        /////////////////////////////////////
        //Paneles
        $('#panel_preguntas').toggle();
        $('#panel_respuestas').toggle();


        //        

        $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').change(function () {
            var data = $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').val();
            if (data > 0) {
                MostPregRegistNoRegist(data);
                $('#panel_respuestas').show();
            }
        });
        ////////////////////////////////
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            duration: 1000
        });
        /////////////////////////////////
        $('#api-preg').multiSelect({
            selectableHeader: "<div class='custom-header'><label class='control-label'>Preguntas sin registrar</label></div>",
            selectionHeader: "<div class='custom-header'><label class='control-label'>Preguntas registradas</label></div>",
            afterSelect: function (values) {
                var tip = $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').val();
                var de = values + "-" + tip;
                debug(de);
                RegPregDB(values, tip);
                mostrarPreguntasRegistradas();
                $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("PreguntasTipoAlerta")/?tipo=' + tip);
            },
            afterDeselect: function (values) {
                debug(values);
                DelPregDB(values);
                var tip = $('#Sto_TipoAlertas_TiposAlertas_TipoAlerta1').val();
                $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("PreguntasTipoAlerta")/?tipo=' + tip);
            }
        });
    })
    /* Fin $(document).ready() */
    function mostrarPreguntasRegistradas(object) {
        var num = $('#loquesea').val();
        MosPregTipAlert(num);
        debug(num);
        CargPregRegist(num);
        $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("PreguntasTipoAlerta")/?tipo=' + num);
    }

    function MostPregRegistNoRegist(data) {
        $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("Preguntas")/?tip=' + data);
    }

    function CargPregRegist(valor) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CargPregTipo")',
            data: "tipo=" + valor,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data) {

                }
            }
        });
    }

    function MosPregTipAlert(tipAlert) {
        if (tipAlert > 0) {
            $('#panel_preguntas').show();
            $('#panel_respuestas').show();
            debug('mostrar');
        } else {
            $('#panel_preguntas').toggle();
            $('#panel_respuestas').toggle();
        }
    }

    function debug(data) { console.log("Resultado::::" + data); }

    function RegPregDB(valor, tipAlert) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("RegPregDB")",
            data: "cod=" + valor + "&tip=" + tipAlert,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert("Pregunta redistrada");
                } else {
                    alert("Pregunta no redistrada");
                }
            }
        });
    }

    function DelPregDB(valor) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DelPregDB")",
            data: "cod=" + valor,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert("Pregunta eliminada");
                } else {
                    alert("Pregunta no eliminada");
                }
            }
        });
    }

</script>




<div class="callout callout-info" data-aos="fade-right" data-aos-anchor="selector" data-aos-once="true">
    <h4><strong>INFORMACIÓN PARA TENER EN CUENTA!</strong></h4>
    <p>Puede consultar las diferentes preguntas y sus respuestas y/o cambiar su valor, por defecto es 0</p>
    <p>Para registrar una preguntra, primero tiene que seleccionar un tipo de alerta</p>
    <p>Las preguntas se registran una por una</p>
    <p>Puede registrar una todas las respuestas a la vez o una por una</p>
</div>

<div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Gestion Preguntas</h2>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-2">@Html.Label("Tipo de alerta a la que pertenece: ", new { @class = "control-label" })</div>
            <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, Model.Sto_TipoAlertas.ListarTiposAlertasComboBox, "Seleccionar una", new { @class = "form-control" })</div>
        </div>
    </div>
</div>

<div id="panel_respuestas" class="row">
    <div id="preg-regis" class="col-md-12">
    </div>    
</div>







<!-- Codigo reutilizable -->
@*<table class="table table-bordered table-responsive table-striped" id="tabla-no-registrada">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Pregunta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in t)
            {
                <tr>
                    <th>@m.CodigoInterno1</th>
                    <th>@m.DetallePregunta1</th>
                    <th>
                        <a href="@Url.Action("Delete", "NivelRiesgoAlerta")" >
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-6" data-aos="fade-down-left" data-aos-anchor="selector" data-aos-once="true">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Preguntas Registradas</h2>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-striped" id="tabla-registrada">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Pregunta</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in t)
                            {
                                <tr>
                                    <th>@m.CodigoInterno1</th>
                                    <th>@m.DetallePregunta1</th>
                                    <th>
                                        <a href="@Url.Action("Delete", "NivelRiesgoAlerta")" >
                                            <i class="fa  fa-close"></i>
                                        </a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

*@