﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "ListaRespuestasSinRegistrar";
    var listaNoRegistradas = ViewBag.ListaRespuestaNoRegistradas;
    List<Sto_Pregunta_ValoracionRiesgoRespuesta> listaRegistradas = (List<Sto_Pregunta_ValoracionRiesgoRespuesta>)ViewBag.RespuestaBaseDatos;
    var id = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabla-resp-no').DataTable();
    })


    function RegtPreg(codP, codR, valor, des, op) {
        alert(valor);
        var num = $('#' + valor).val();
        if (num < 0) {
            num = 0;
        }
        alert(num);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RegstResInd")',
            data: "codP=" + codP+"&codR="+codR+"&des="+des+"&val="+num+"&op="+op,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert('Respuesta registrada');
                }
                else {
                    alert('Respuesta no registrada');
                }
            }
        });
    }

    function DeletPreg(codP, codR, valor, des, op) {
        alert(valor);
        var num = $('#' + valor).val();
        alert(num);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RegstResInd")',
            data: "codP=" + codP + "&codR=" + codR + "&des=" + des + "&val=" + num + "&op=" + op,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert('Respuesta registrada');
                }
                else {
                    alert('Respuesta no registrada');
                }
            }
        });
    }

    function ModifPreg(codP, codR, valor, des, op) {
        alert(valor);
        var num = $('#' + valor).val();
        alert(num);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RegstResInd")',
            data: "codP=" + codP + "&codR=" + codR + "&des=" + des + "&val=" + num + "&op=" + op,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    alert('Respuesta registrada');
                }
                else {
                    alert('Respuesta no registrada');
                }
            }
        });
    }
</script>
<div class="">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Regsitrar Todas</label>
            <a style="color: green !important;">
                <i class="fa fa-save fa-lg"></i>
            </a>
        </div>

    </div>
</div>
<div>
    <table class="table table-responsive table-striped" id="tabla-resp-no">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Respuesta</th>
                <th>Registrada</th>
                <th>Valor por defecto</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in listaNoRegistradas)
            {
                Sto_Pregunta_ValoracionRiesgoRespuesta SPVR = new Sto_Pregunta_ValoracionRiesgoRespuesta();
                SPVR = listaRegistradas.FirstOrDefault(x => x.Respuesta1.Equals(m.Respuesta));

                if (SPVR != null)
                {
                    <tr>
                        <th>@m.Respuesta</th>
                        <th>@m.Detalles</th>
                        <th>Si</th>
                        <th>
                            <label>@SPVR.ValorRiesgo1</label>
                        </th>
                        <th>
                            <a onclick="RegtPreg('@m.CodigoInterno1','@m.Respuesta','valor_res_@id','@m.Detalles',2);" style="color: orange !important;" title="Modificar Respuesta" data-toggle="tooltip">
                                <i class="fa fa-cog fa-lg"></i>
                            </a>
                            -
                            <a onclick="RegtPreg('@m.CodigoInterno1','@m.Respuesta','valor_res_@id','@m.Detalles',2);" style="color: red !important;" title="Eliminar Respuesta" data-toggle="tooltip">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>@m.Respuesta</th>
                        <th>@m.Detalles</th>
                        <th>NO</th>
                        <th>
                            <input type="number" class="form-control" id="valor_res_@id" />
                        </th>
                        <th>
                            <a onclick="RegtPreg('@m.CodigoInterno1','@m.Respuesta','valor_res_@id','@m.Detalles',2);" style="color: green !important;" title="Registrar pregunta" data-toggle="tooltip">
                                <i class="fa fa-save fa-lg"></i>
                            </a>
                        </th>
                    </tr>
                }
                id++;
            }
        </tbody>
    </table>
</div>