﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "Preguntas";
    var nombre = Model.Sto_TipoAlertas.TiposAlertas.Nombre1;
    List<Sto_Formato_Caracterizacion_Preguntas> listaA = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    List<Sto_TipoAlerta_Pregunta> list = (List<Sto_TipoAlerta_Pregunta>)Session["ListaB"];
    var idTipo = Convert.ToInt32(ViewBag.ID);
}
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#tabla-pregunta').DataTable();
    })

    function MostrarModal(data) {
        $("#Respuesta").modal("show");
        $("#res").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("ListaRespuestasSinRegistrar")/?cod=' + data);
    }

    function RegtPregDB(data, tipAlert, dest) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("RegPregDB")",
            data: "cod=" + data + "&tip=" + tipAlert + "&det=" + dest,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("Preguntas")/?tip=' + tipAlert);
                    alert("Pregunta redistrada");
                } else {
                    alert("Pregunta no redistrada");
                }
            }
        });
    }
    function DelPregDB(valor, tipAlert) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DelPregDB")",
            data: "cod=" + valor,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $("#preg-regis").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("Preguntas")/?tip=' + tipAlert);
                    alert("Pregunta eliminada");
                } else {
                    alert("Pregunta no eliminada");
                }
            }
        });
    }
</script>
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Listado de preguntas por @nombre</h2>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-responsive" id="tabla-pregunta">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Pregunta</th>
                    <th>Registrada</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in listaA)
                {
                    if (Model.Sto_TipoAlertas_Preguntas.preguntaRegistrada(idTipo, m.CodigoInterno1) > 0)
                    {
                        <tr>
                            <th>@m.CodigoInterno1</th>
                            <th>@m.DetallePregunta1</th>
                            <th>SI</th>
                            <th>
                                <a onclick="MostrarModal('@m.CodigoInterno1');" style="color: black !important;" title="ver respuestas" data-toggle="tooltip">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                                -
                                <a onclick="DelPregDB('@m.CodigoInterno1','@idTipo');" style="color: red !important;" title="Registrar pregunta" data-toggle="tooltip">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>@m.CodigoInterno1</th>
                            <th>@m.DetallePregunta1</th>
                            <th>NO</th>
                            <th>
                                <a onclick="RegtPregDB('@m.CodigoInterno1', '@idTipo','@m.DetallePregunta1');" style="color: green !important;" title="Registrar pregunta" data-toggle="tooltip">
                                    <i class="fa fa-save fa-lg"></i>
                                </a>
                                -
                                <a onclick="MostrarModal('@m.CodigoInterno1');" style="color: black !important;" title="ver respuestas" data-toggle="tooltip">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
    <div class="box-footer">
    </div>
</div>

<div class="modal fade" id="Respuesta" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Listado de respuestas asociadas</h4>
            </div>
            <div class="modal-body">
                <div id="res"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>