﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "PreguntasTipoAlerta";
    var lis = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#list-preg-regist').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
    })
    function cargarModal(id) {
        $("#Respuesta").modal("show");
        $('#edit').html("<p><i class='fa fa-spinner fa-3x fa-spin'></i> &nbsp; Carcagndo...</p> ").load('@Url.Action("RespuestaPorPregunta")?cod=' + id);
    }
</script>
<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Preguntas Registradas</h2>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-bordered" id="list-preg-regist">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Pregunta</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Sto_TipoAlertas_Preguntas.listarTipoAlerta_Pregunta)
                {
                    Sto_Formato_Caracterizacion_Preguntas STAP = new Sto_Formato_Caracterizacion_Preguntas();
                    STAP = lis.FirstOrDefault(x=>x.CodigoInterno1.Equals(m.CodigoPRegunta1));
                    <tr>
                        <th>@m.CodigoPRegunta1</th>
                        <th>@STAP.DetallePregunta1</th>
                        <th>
                            <a onclick="cargarModal('@m.CodigoPRegunta1')" style="color: black !important;" title="Registrar todas las respuestas" data-toggle="tooltip">
                                <i class="fa fa-save fa-lg"></i>
                            </a>
                            <a onclick="cargarModal('@m.CodigoPRegunta1')" style="color: black !important;" title="Registrar respuesta por respuesta" data-toggle="tooltip">
                                <i class="fa fa-check fa-lg"></i>
                            </a>
                            <a onclick="cargarModal('@m.CodigoPRegunta1')" style="color: black !important;" title="Ver todas las respuestas registradad" data-toggle="tooltip">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="Respuesta" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Listado de preguntas sin registrar</h4>
            </div>
            <div class="modal-body">
                <div id="edit"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="false" id="respuesta1" tabindex="-1" role="dialog" aria-labelledby="DocumentoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="myModalLabel">Listado de las respuesta de la pregunta</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

