﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@using System.Linq
@using CapaEntidad
@{
    ViewBag.Title = "RespuestaPorPregunta";
    var t = (List<Sto_Formato_Caracterizacion_Preguntas>)Session["MyLista"];
    var lista = ViewBag.ListaRespuesta;
    var idPreg = ViewBag.ID;
}


<script type="text/javascript">
    $(document).ready(function () {
        $('#tabla-respuesta').DataTable();
    })
</script>

<div class="box box-primary">
    <div class="box-header with-border">
    </div>
    <div class="box-body">
        <table class="table table-striped table-responsive" id="tabla-respuesta">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Detalles</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in lista)
                {
                    Sto_Formato_Caracterizacion_Preguntas detallePregunta = new Sto_Formato_Caracterizacion_Preguntas();
                    detallePregunta = t.FirstOrDefault(x => x.CodigoInterno1.Equals(m.CodigoInterno1));
                    <tr>
                        @*<th>@(detallePregunta != null ? detallePregunta.DetallePregunta1 : string.Empty)</th>*@
                        <th>@m.Respuesta</th>
                        <th>@m.Detalles</th>
                        <th>
                            <a onclick="" style="color: black !important;">
                                <i class="fa fa-pencil fa-lg"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


