﻿
@{
    ViewBag.Title = "Index";
}


<script type="text/javascript">

    $(document).ready(function () {
        $("#pie-gra").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("PieChartEstudiantesProgama", "Graficas")');
        $("#gra-bar").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("BarrasEstudiantesGenero", "Graficas")');
        $("#gra-polar").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("PolarNumeroAlertaProgramas", "Graficas")');
        $("#gra-lin").html("<p><i class='fa fa-spinner fa-pulse fa-3x fa-spin'></i> &nbsp; Cargando...</p> ").load('@Url.Action("LineasRegistroHistorico", "Graficas")');
    })
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    
    <div class="box">
        <div class="box-header with-border">
            <h2 class="box-title">Sistema de caracterización</h2>
        </div>
        <div class="box-body">
            <h1>Bienvenidos al sistema de caracterización estudiantil de CECAR</h1>
        </div>
    </div>

    <div class="row">
        <div class="box col-md-6">
            <div class="box-header with-border">
                <h2 class="box-title">Grafica Programas</h2>
            </div>
            <div class="box-body">
                <div id="pie-gra"></div>
            </div>
        </div>
        <div class="box col-md-6">
            <div class="box-header with-border">
                <h2 class="box-title">Grafica Estudiantes Genero</h2>
            </div>
            <div class="box-body">
                <div id="gra-bar"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box col-md-8">
            <div class="box-header with-border">
                <h2 class="box-title">Grafica Alertas Programas</h2>
            </div>
            <div class="box-body">
                <div id="gra-polar" ></div>
            </div>
        </div>
        <div class="box col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-header with-border">
                <h2 class="box-title">Grafica Evolucion Programas</h2>
            </div>
            <div class="box-body">
                <div id="gra-lin"></div>
            </div>
        </div>
    </div>
</section>
