﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/css/ionicons.css" rel="stylesheet" />
    <link href="~/Assets/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Assets/css/multi-select.css" rel="stylesheet" />
    <link href="~/Assets/css/skin-blue.css" rel="stylesheet" />
    <link href="~/Assets/css/datatables.css" rel="stylesheet" />
    <link href="~/Assets/css/aos.css" rel="stylesheet" />
    <!--<link href="~/Assets/css/Site.css" rel="stylesheet" />-->
    <script src="~/Assets/js/modernizr-2.6.2.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/highcharts.js"></script>
    <script src="~/Assets/js/highcharts-more.js"></script>
    <script src="~/Assets/js/exporting.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">CECAR</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Caracterización</b> Estudiantil</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Jhonny Sierra</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) 
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">ACCIONES</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="@(Convert.ToInt32(Session["Estado"])==1?"active": "")"><a href="@Url.Action("Index","Home")"><i class="fa fa-link"></i> <span>Home</span></a></li>
                    <!-- Menu Deplegable Caracterizacion -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Caracterización</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@(Convert.ToInt32(Session["Estado"])==3?"active": "")"><a href="@Url.Action("Index","NivelRiesgoAlerta")"><i class="fa fa-link"></i> <span>Nivel de Riesgo </span></a></li>
                            <li class="@(Convert.ToInt32(Session["Estado"])==4?"active": "")"><a href="@Url.Action("Index","TipoAcciones")"><i class="fa fa-link"></i> <span>Tipo Acciones </span></a></li>
                            <li class="@(Convert.ToInt32(Session["Estado"])==5?"active": "")"><a href="@Url.Action( "Index","TipoAlerta_NivelRiesgo")"><i class="fa fa-link"></i> <span>Regla Alertas </span></a></li>
                            <li class="@(Convert.ToInt32(Session["Estado"])==7?"active": "")"><a href="@Url.Action("Index", "TiposAlertas")"><i class="fa fa-link"></i> <span>Tipo Alertas </span></a></li>
                            @*<li class="@(Convert.ToInt32(Session["Estado"])==2?"active": "")"><a href="@Url.Action( "Index", "Accion_TipoAlerta")"><i class="fa fa-link"></i> <span>Accion por Regla de alerta</span></a></li>*@
                            <li class="@(Convert.ToInt32(Session["Estado"])==6?"active": "")"><a href="@Url.Action("Index", "GestionPreguntas")"><i class="fa fa-link"></i> <span>Registro de preguntas </span></a></li>
                            <li class="@(Convert.ToInt32(Session["Estado"])==8?"active": "")"><a href="@Url.Action("Index", "TiposAsesores")"><i class="fa fa-link"></i> <span>TiposAsesores</span></a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#"><i class="fa fa-cog"></i> <span>Configuración</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            
            <!-- Main content -->
            <section class="content container-fluid">
                <!--------------------------
                | Your Page Content Here |
                -------------------------->
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://www.cecar.edu.co/">CECAR</a>.</strong> Todos los derechos reservados.
        </footer>
    </div>
    
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/adminlte.js"></script>
    <script src="~/Assets/js/jquery-latest.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <!--script src="~/Assets/js/jquery.tablesorter.js"></script>
    <script src="~/Assets/js/jquery.tablesorter.pager.js"></script>-->
    <script src="~/Assets/js/datatables.js"></script>
    <script src="~/Assets/js/jquery.multi-select.js"></script>
</body>
</html>