﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Create";
    var info = ViewBag.Error;
}
@{
    if (info > 0)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error al registrar un nuevo Tipo de alerta
        </div>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Create</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Registro nuevo tipo alerta</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Alerta", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlertas.TiposAlertas.Nombre1, new { @class = "form-control", })</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Tipo de alerta", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_AlertasBases.AlertaBase.AlertaBase, Model.Sto_AlertasBases.ListaAlertaBaseComboBox, "Todos", new { @class = "form-control" })</div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </div>
}
