﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Delete";
}

@{
    var info = ViewBag.Error;
}
<h2>Delete</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1)
    <div class="box box-danger">
        <div class="box-header with-border">
            <h2 class="box-title">Editar</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>Seguro de realizar la eliminación????</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        @{
                            if (info == 1)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    Error al registrar un nuevo nivel de riesgo
                                </div>
                            }
                        }
                        <div class="col-md-2">@Html.Label("Id ", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, new { @class = "form-control", })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Nombre", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlertas.TiposAlertas.Nombre1, new { @class = "form-control", })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Tipo de alerta", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_AlertasBases.AlertaBase.AlertaBase, Model.Sto_AlertasBases.ListaAlertaBaseComboBox, "Todos", new { @class = "form-control" })</div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            -
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    </div>
                            }
