﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Edit";
    var info = ViewBag.Error;
}

<h2>Edit</h2>

@{
    if (info == 1)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error al registrar un nuevo Tipo de alerta
        </div>
    }
    if (info == 2)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Actualizacion completada
        </div>
    }
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1)
    <div class="box box-primary" >
        <div class="box-header with-border">
            <h2 class="box-title">Editar</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Registro de nuevo nivel</h2>
                </div>

                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("ID", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, new { @class = "form-control", @id = "disabledInput" })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Alerta", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlertas.TiposAlertas.Nombre1, new { @class = "form-control", })</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            -
            <input type="submit" value="Guardar" class="btn btn-danger" />
        </div>
    </div>
    }
