﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Tipos Alertas";
    var inf = Convert.ToInt32(TempData["Error"].ToString());
}
<script>
    window.onload = function () {
        $("#vista-create").html("Cargando...").load('@Url.Action("Create")');
        $('#tabla-reglas').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });
    }

</script>
<script>

    hljs.initHighlightingOnLoad();

    $('.hero__scroll').on('click', function (e) {
        $('html, body').animate({
            scrollTop: $(window).height()
        }, 1200);
    });

</script>
@{
    if (inf == 2)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Actualizacion completada
        </div>
    }
}

<div class="" id="vista-create" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true"></div>
<div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Listado</h2>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
        </div>
    </div>
    <div class="box-body" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Alertas registradas</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id Alerta</th>
                            <th>Tipo Alerta</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.Sto_TipoAlertas.listaTipoAlertas)
                        {
                            if (m.TipoAlerta1 <= 6)
                            {
                                <tr>
                                    <th>@m.TipoAlerta1</th>
                                    <th>@m.Nombre1</th>
                                    <th>@Model.Sto_AlertasBases.NombreAlertaBase(m.AlertaBase)</th>
                                    <th>
                                        <label>
                                            Tipo de alerta establecida por defecto.
                                        </label>
                                    </th>
                                </tr>
                            }
                            else
                            {
                            <tr>
                                <th>@m.TipoAlerta1</th>
                                <th>@m.Nombre1</th>
                                <th>@Model.Sto_AlertasBases.NombreAlertaBase(m.AlertaBase)</th>
                                <th>
                                    <a href="@Url.Action("Edit", "TiposAlertas", new { @Id = m.TipoAlerta1 })" class="btn btn-warning">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </a>
                                    -
                                    <a href="@Url.Action("Delete", "TiposAlertas", new { @Id = m.TipoAlerta1 })" class="btn btn-danger">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                </th>
                            </tr>
                           }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "Home")
    </div>
</div>

