﻿
@{
    ViewBag.Title = "BarrasEstudiantesGenero";
}

<script type="text/javascript">
    $(document).ready(function () {
        Highcharts.setOptions({
            colors: ['#70ACE8', '#FF8DEE']
        });
        Highcharts.chart('container-gra-bar', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Numero de estudiantes encuestados'
            },
            subtitle: {
                text: 'Agrupados por genero'
            },
            xAxis: {
                categories: [
                    'Genero',
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Nº Encuestados (400)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Masculino',
                data: [230]

            }, {
                name: 'Femenino',
                data: [170],

            }]
        });
    })
</script>

<div id="container-gra-bar"></div>