﻿
@{
    ViewBag.Title = "LineasRegistroHistorico";
}


<script type="text/javascript">
    $(document).ready(function () {
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
        });
        Highcharts.chart('gra-lin-his', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Grafica evolutiva por periodo'
            },
            subtitle: {
                text: 'Comparacion de las alertas por programas en los periodos'
            },
            xAxis: {
                categories: ['Derecho', 'Ingeniería de sistemas', 'Ingeniería industrial', 'Psicología', 'Trabajo social', 'Arquitectura']
            },
            yAxis: {
                title: {
                    text: 'Cantidad Alertas'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '20171',
                data: [18.4, 21.5, 25.2, 26.5, 23.3, 9.6]
            }, {
                name: '20171',
                data: [11.9, 15.2, 17.0, 16.6, 14.2, 4.8]
            }]
        });
    })
</script>

<div id="gra-lin-his"></div>