﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "PieChartEstudiantesProgama";
}

@*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>*@


<script type="text/javascript">

    $(document).ready(function () {
        GraficaPie();
    })

    function GraficaPie() {
        Highcharts.chart('conatiner-gra', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Programas Caracterizados'
            },
            pane: {
                size: '10%',
                borderColor: '#00000'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Derecho',
                    y: 56.33
                }, {
                    name: 'Ingeniería de sistemas',
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Ingeniería industrial',
                    y: 10.38
                }, {
                    name: 'Psicología',
                    y: 4.77
                }, {
                    name: 'Trabajo social',
                    y: 0.91
                }, {
                    name: 'Arquitectura',
                    y: 0.2
                }]
            }]
        });
    }
</script>


<div id="conatiner-gra">

</div>