﻿
@{
    ViewBag.Title = "PolarNumeroAlertaProgramas";
}

<script type="text/javascript">
    $(document).ready(function () {
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
        });
        Highcharts.chart('container-gra-polar', {
            chart: {
                polar: true,
                type: 'line'
            },

            title: {
                text: 'Numero de alertas por programas',
                x: -80
            },

            pane: {
                size: '80%'
            },

            xAxis: {
                categories: ['Derecho',
        'Ingeniería de sistemas',
        'Ingeniería industrial',
        'Psicología',
        'Trabajo social',
        'Arquitectura'],
                tickmarkPlacement: 'on',
                lineWidth: 0
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },

            tooltip: {
                shared: true,
                pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
            },

            legend: {
                align: 'right',
                verticalAlign: 'top',
                y: 80,
                layout: 'vertical'
            },

            series: [{
                name: 'Alerta de notas',
                data: [43, 19, 60, 35, 7, 1],
                pointPlacement: 'on'
            }, {
                name: 'Alerta Salud',
                data: [43, 18, 11, 22, 12, 1],
                pointPlacement: 'on'
            }, {
                name: 'Alerta Financiera',
                data: [43, 12, 16, 35, 10, 1],
                pointPlacement: 'on'
            }, {
                name: 'Alerta Académica',
                data: [43, 19, 6, 22, 17, 1],
                pointPlacement: 'on'
            }, {
                name: 'Alerta Familiar',
                data: [50, 39, 42, 31, 2, 1],
                pointPlacement: 'on'
            }]

        });
    })
</script>

<div id="container-gra-polar"></div>