﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Create";
    var info = ViewBag.Error;
}

@if (info == "no")
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Error al registrar un nuevo nivel de riesgo
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box">
        <div class="box-header with-border">
            <h2 class="box-title">Nuevo Registo</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Registro de nuevo nivel de riesgo</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Nivel Riesgo Alerta", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_NivelRiesgoAlerta.NivelRiesgoAlerta.Nombre1, new { @class = "form-control", })</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </div>

}
