﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{

    ViewBag.Title = "Edit";

    var info = ViewBag.Error;

}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_NivelRiesgoAlerta.NivelRiesgoAlerta.NivelRiesgoAlerta1)
    <div class="box">
        <div class="box-header with-border">
            <h2 class="box-title">Editar</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Editar un registro</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Id Nivel Riesgo Alerta", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_NivelRiesgoAlerta.NivelRiesgoAlerta.NivelRiesgoAlerta1, new { @class = "form-control", })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Nivel Riesgo Alerta", new { @class = "control-label" })</div>
                        <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_NivelRiesgoAlerta.NivelRiesgoAlerta.Nombre1, new { @class = "form-control", })</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            -
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </div>
}

