﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Nivel Riesgo";
}
<script>
    window.onload = function () {
        $("#vista-parcial").html("Cargando...").load('@Url.Action("Create")');
        $('#tabla-nivel').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });
    }

</script>
<script>

    hljs.initHighlightingOnLoad();

    $('.hero__scroll').on('click', function (e) {
        $('html, body').animate({
            scrollTop: $(window).height()
        }, 1200);
    });

</script>
<div class="" id="vista-parcial" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true"></div>
<div class="box box-primary" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Listado</h2>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
        </div>
    </div>
    <div class="box-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Lista de los niveles de riesgo de las alertas</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered" id="tabla-nivel">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nivel Riesgo Alerta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.Sto_NivelRiesgoAlerta.listaNivelRiesgoAlerta)
                        {
                            <tr>
                                <th>@m.NivelRiesgoAlerta1</th>
                                <th>@m.Nombre1</th>
                                <th>
                                    <a href="@Url.Action("Edit", "NivelRiesgoAlerta", new { @Id = m.NivelRiesgoAlerta1 })" class="btn btn-warning">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </a>
                                    -
                                    <a href="@Url.Action("Delete", "NivelRiesgoAlerta", new { @Id = m.NivelRiesgoAlerta1 })" class="btn btn-danger">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "Home")
    </div>
</div>
