﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Create</h2>
        </div>
        <div class="box-body">
            <div class="contenedor" id="contenedor">
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Tipos Alertas", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAlertas.TiposAlertas.TipoAlerta1, Model.Sto_TipoAlertas.ListarTiposAlertasComboBox, "Todos", new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Puntaje Minimo", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Min_Puntaje1, new { @class = "form-control", })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Puntaje Maximo", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Max_Puntaje1, new { @class = "form-control", })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Nivel Riesgo Alerta", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_NivelRiesgoAlerta.NivelRiesgoAlerta.NivelRiesgoAlerta1, Model.Sto_NivelRiesgoAlerta.ListaNivelRiesgoAlertaComboBox, "Todos", new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Accion a realizar", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.DropDownListFor(x => x.Sto_TipoAcciones.tipoAcciones.ID_Sto_TipoAcciones1, Model.Sto_TipoAcciones.ListarTipoAccionesComboBox, "-Todos-", new { @class = "form-control" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">@Html.Label("Referencias", new { @class = "control-label" })</div>
                    <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_Accion_TipoAlerta_NivelRiesgo.Accion_TipoAlerta.Referencias1, new { @class = "form-control" })</div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </div>
}

