﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Delete";
    var info = ViewBag.Error;

}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Id_tipoAlerta_NivelRiesgo1)
    <div class="box box-danger">
        <div class="box-header with-border">
            <h2 class="box-title">Delete</h2>
        </div>
        <div class="box-body">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>Seguro de realizar la eliminación????</h2>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        @{
                            if (info > 0)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    Error al registrar un nuevo nivel de riesgo
                                </div>
                            }
                        }
                        <div class="col-md-2">@Html.Label("ID Regla Alerta", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Id_tipoAlerta_NivelRiesgo1, new { @class = "form-control", })</div>
                        </fieldset>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">@Html.Label("Tipo Alerta", new { @class = "control-label" })</div>
                        <fieldset disabled>
                            <div class="col-md-10">@Html.Label(Model.Sto_TipoAlertas.NombreTipoAlerta(Model.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.TipoAlerta1), new { @class = "control-label" })</div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            -
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    </div>
                            }
@*
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2>Seguro de realizar la eliminación????</h2>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">

        </div>
    </div>
                    }*@
