﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Id_tipoAlerta_NivelRiesgo1)
    <div class="box box-primary">
        <div class="box-header with-border">
            <h1 class="box-title">Detalles</h1>
        </div>
        <div class="box-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Detail</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Tipo Alerta</dt>
                        <dd>@Model.Sto_TipoAlertas.NombreTipoAlerta(Model.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.TipoAlerta1)</dd>
                        <dt>Puntaje Minimo</dt>
                        <dd>@Model.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Min_Puntaje1</dd>
                        <dt>Puntaje Maximo</dt>
                        <dd>@Model.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.Max_Puntaje1</dd>
                        <dt>Nivel Riesgo Alerta</dt>
                        <dd>@Model.Sto_NivelRiesgoAlerta.NombreNivelRiesgo(Model.Sto_TipoAlerta_NivelRiesgo.TipoAlerta_NivelRiesgo.NivelRiesgoAlerta1)</dd>
                        <dt>Accion a realizar</dt>
                        <dd>@Model.Sto_TipoAcciones.tipoAcciones.Accion1</dd>
                        <dt>Referencias</dt>
                        <dd>@Model.Sto_Accion_TipoAlerta_NivelRiesgo.Accion_TipoAlerta.Referencias1</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
