﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Reglas de alertas";
}
<script>
    window.onload = function () {
        $("#vista-create").html("<i class='fa fa-spinner fa-3x fa-spin'></i>").load('@Url.Action("Create")');
        $('#tabla-reglas').DataTable();
        AOS.init({
            offset: 200,
            duration: 1000,
            easing: 'ease-out-back',
            delay: 100,
        });
    }

</script>
<script>

    hljs.initHighlightingOnLoad();

    $('.hero__scroll').on('click', function (e) {
        $('html, body').animate({
            scrollTop: $(window).height()
        }, 1200);
    });

</script>


<div class="" id="vista-create" data-aos="fade-left" data-aos-anchor="selector" data-aos-once="true"></div>

<div class="box box-primary" data-aos="fade-left" data-aos-once="true">
    <div class="box-header with-border">
        <h2 class="box-title">Listado</h2>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <a href="@Url.Action("Detail","TipoAlerta_NivelRiesgo")" class="btn btn-default">
                <i class="fa fa-plus-circle fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Reglas de las alertas </h2>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-hover" id="tabla-reglas">
                    <thead>
                        <tr>
                            <th>Id Regla Alerta</th>
                            <th>Tipo alerta</th>
                            <th>Puntaje Minimo</th>
                            <th>Puntaje Maximo</th>
                            <th>Nivel Riesgo Alerta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.Sto_TipoAlerta_NivelRiesgo.ListaTipoAlerta_NivelRiesgo)
                        {
                            <tr>
                                <th>@m.Id_tipoAlerta_NivelRiesgo1</th>
                                <th>@Model.Sto_TipoAlertas.NombreTipoAlerta(m.TipoAlerta1)</th>
                                <th>@m.Min_Puntaje1</th>
                                <th>@m.Max_Puntaje1</th>
                                <th>@Model.Sto_NivelRiesgoAlerta.NombreNivelRiesgo(m.NivelRiesgoAlerta1)</th>
                                <th>
                                    <a href="@Url.Action("Detail","TipoAlerta_NivelRiesgo",new { @Id = m.Id_tipoAlerta_NivelRiesgo1 })" class="btn btn-default">
                                        <i class="fa fa-eye fa-lg"></i>
                                    </a>
                                    -
                                    <a href="@Url.Action("Edit", "TipoAlerta_NivelRiesgo", new { @Id = m.Id_tipoAlerta_NivelRiesgo1 })" class="btn btn-warning">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </a>
                                    -
                                    <a href="@Url.Action("Delete", "TipoAlerta_NivelRiesgo", new { @Id = m.Id_tipoAlerta_NivelRiesgo1 })" class="btn btn-danger">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "Home")
    </div>
</div>
