﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Agregar una accion</h2>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-4">@Html.Label("")</div>
            </div>
        </div>
        <dic class="panel-footer">

        </dic>
    </div>
}