﻿@model SeguimientoEstudiantil.Models.ModeloMaestro
@{
    ViewBag.Title = "Acciones por regla de alerta";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">Acciones a realizar por Regla alerta</h2>
    </div>
    <div class="box-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Acciones a realizar por Regla alerta</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Accion</th>
                            <th>Tipo Alerta</th>
                            <th>Referencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.Sto_Accion_TipoAlerta_NivelRiesgo.ListarAccion_TipoAlerta_NivelRiesgo)
                        {
                            <tr>
                                <th>@m.ID_Accion_TipoAlerta_NivelRiesgo1</th>
                                <th>@m.ID_Accion1</th>
                                <th>@m.ID_TipoAlerta_NivelRiesgo1</th>
                                <th>@m.Referencias1</th>
                                <th>
                                    @Html.ActionLink("Actualizar", "Edit", "TipoAlerta_NivelRiesgo", new { @Id = m.ID_Accion_TipoAlerta_NivelRiesgo1 }, new { @class = "btn btn-warning" })
                                    -
                                    @Html.ActionLink("Eliminar", "Delete", "TipoAlerta_NivelRiesgo", new { @Id = m.ID_Accion_TipoAlerta_NivelRiesgo1 }, new { @class = "btn btn-danger" })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "Home")
    </div>
</div>
